:root {
    --main-color: rgb(129, 66, 231);
    --table-color: black;
    --left-text-color: rgb(255, 255, 255);
  }

  /* rgb(129, 66, 231); */

div.container{
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    grid-template-rows: 1fr; 
}

/* -----------------------Правая сторона --------------------------------------- */
.page_language{
    font-weight: 100;
    
}

a.Ua_En{
    text-decoration: none;
    color: black;
    font-weight: 300;
    margin: 1px;
}

a.Ua_En:hover{
    color: black;
    text-decoration: underline;
    font-weight: 600;
    margin: 0.2px;
}

.iconsTerm{

    font-size: 2.5rem;
    height: 3rem;
    width: 3rem;
    margin-left: 20px;
}

.certificate{
    text-decoration: none;
    color: black;
}

/* span.studyRad{
    border-radius: 200%;
    border: 1px solid black;
     padding: 1.5rem 0 1rem 2rem; 
    padding: 15px 0 5px 0
} */

.banners{
    font-size: 2rem;
    font-weight: bold;
}

ul.resumeList{
    /* list-style: none; */
    margin-left: 60px;
    border-left: 2px solid var(--table-color);
}

.liList{
    padding-top: 2rem;
}

.Descr{
    margin-right: 2rem;
    margin-left: 0;
}

.nameOf{
    color: var(--main-color);
    font-style: italic;
}

/* -----------------------Левая сторона --------------------------------------- */

div.leftSide{
    background-color: var(--main-color);
    color: var(--left-text-color);
}

img{
    width: 250px;
    /* height: 250px; */
    border: 3px solid rgb(255, 255, 255);
    border-radius: 200%;
}

.leftDescr{
    font-size: 1.4rem;
    font-weight: 350;
    margin-top: -0.5rem;
    padding-right: 1rem;
}

a.left_link{
    color: var(--left-text-color);
}



.lang{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}

.stars{
    font-size: 0.8rem;
    margin: 0rem 1rem 0 1rem;
}

#uaLang{
    margin-left: 1.05rem;
}

#rusLang{
    margin-left: 1.6rem;
}

#engLang{
    margin-left: 1.07rem;
}

#gerLang{
    margin-left: 1.71rem;

}


@media(min-width: 1200px){
    /* div.container{
        display: grid;
        grid-template-columns: 0.2fr 0.8fr;
        grid-template-rows: 1fr;
    } */
    
    .Descr{
        margin-left: -5rem;
        padding-right: 2rem;
    }

    ul.resumeList{
        /* list-style: none; */
        margin-left: 60px;
        border-left: 2px solid var(--table-color);
    }
    
}

